{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% load static %}
<!-- 引入css样式 -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.login.register.css' %}">
{% endblock head %}


{% block content %}

    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">

                    <!-- Form Panel    -->
                    <div class="col-lg-12 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <h2 class="reset_text">重置密码</h2>
                                <form method="POST" class="" id="reset_password" action="{% url 'account_reset_password' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">邮箱地址</label>
                                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入邮箱地址">
                                        <small id="emailHelp" class="form-text text-muted">忘记密码？在上面输入您的e-mail地址，我们将给您发送一封e-mail，以便重置密码。</small>
                                    </div>
                                    <button type="submit" class="btn btn-primary">重置密码</button>
                                </form>
                                <br />
                                <br>

                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #reset_password{
            width: 100%;
            max-width: 100%;
        }
        .reset_text{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 80px;
        }
    </style>

{% endblock %}
